In [8]:
import json
import pandas as pd
import pyarrow as pa
import pyarrow.compute as pc

In [9]:
path = '../data-test/airlines.json'

with open(path, encoding='utf-8') as f:
    dt = json.load(f)

In [10]:
dt

[{'Airport': {'Code': 'ATL',
   'Name': 'Atlanta, GA: Hartsfield-Jackson Atlanta International'},
  'Time': {'Label': '2003/06', 'Month': 6, 'Month Name': 'June', 'Year': 2003},
  'Statistics': {'# of Delays': {'Carrier': 1009,
    'Late Aircraft': 1275,
    'National Aviation System': 3217,
    'Security': 17,
    'Weather': 328},
   'Carriers': {'Names': 'American Airlines Inc.,JetBlue Airways,Continental Air Lines Inc.,Delta Air Lines Inc.,Atlantic Southeast Airlines,AirTran Airways Corporation,America West Airlines Inc.,Northwest Airlines Inc.,ExpressJet Airlines Inc.,United Air Lines Inc.,US Airways Inc.',
    'Total': 11},
   'Flights': {'Cancelled': 216,
    'Delayed': 5843,
    'Diverted': 27,
    'On Time': 23974,
    'Total': 30060},
   'Minutes Delayed': {'Carrier': 61606,
    'Late Aircraft': 68335,
    'National Aviation System': 118831,
    'Security': 518,
    'Total': 268764,
    'Weather': 19474}}},
 {'Airport': {'Code': 'BOS', 'Name': 'Boston, MA: Logan International'},
  'Time': {'Label': '2003/06', 'Month': 6, 'Month Name': 'June', 'Year': 2003},
  'Statistics': {'# of Delays': {'Carrier': 374,
    'Late Aircraft': 495,
    'National Aviation System': 685,
    'Security': 3,
    'Weather': 66},
   'Carriers': {'Names': 'American Airlines Inc.,Alaska Airlines Inc.,Continental Air Lines Inc.,Atlantic Coast Airlines,Delta Air Lines Inc.,Atlantic Southeast Airlines,AirTran Airways Corporation,America West Airlines Inc.,American Eagle Airlines Inc.,Northwest Airlines Inc.,ExpressJet Airlines Inc.,ATA Airlines d/b/a ATA,United Air Lines Inc.,US Airways Inc.',
    'Total': 14},
   'Flights': {'Cancelled': 138,
    'Delayed': 1623,
    'Diverted': 3,
    'On Time': 7875,
    'Total': 9639},
   'Minutes Delayed': {'Carrier': 20319,
    'Late Aircraft': 28189,
    'National Aviation System': 24400,
    'Security': 99,
    'Total': 77167,
    'Weather': 4160}}},
 {'Airport': {'Code': 'CLT',
   'Name': 'Charlotte, NC: Charlotte Douglas International'},
  'Time': {'Label': '2003/06', 'Month': 6, 'Month Name': 'June', 'Year': 2003},
  'Statistics': {'# of Delays': {'Carrier': 300,
    'Late Aircraft': 472,
    'National Aviation System': 735,
    'Security': 2,
    'Weather': 54},
   'Carriers': {'Names': 'American Airlines Inc.,Continental Air Lines Inc.,Atlantic Coast Airlines,Delta Air Lines Inc.,Atlantic Southeast Airlines,American Eagle Airlines Inc.,Northwest Airlines Inc.,ExpressJet Airlines Inc.,ATA Airlines d/b/a ATA,United Air Lines Inc.,US Airways Inc.',
    'Total': 11},
   'Flights': {'Cancelled': 73,
    'Delayed': 1562,
    'Diverted': 14,
    'On Time': 7021,
    'Total': 8670},
   'Minutes Delayed': {'Carrier': 14763,
    'Late Aircraft': 23379,
    'National Aviation System': 23804,
    'Security': 127,
    'Total': 65865,
    'Weather': 3792}}}]

In [11]:
df = pd.DataFrame(dt)

In [12]:
df

,Airport,Time,Statistics
0,"{'Code': 'ATL', 'Name': 'Atlanta, GA: Hartsfie...","{'Label': '2003/06', 'Month': 6, 'Month Name':...","{'# of Delays': {'Carrier': 1009, 'Late Aircra..."
1,"{'Code': 'BOS', 'Name': 'Boston, MA: Logan Int...","{'Label': '2003/06', 'Month': 6, 'Month Name':...","{'# of Delays': {'Carrier': 374, 'Late Aircraf..."
2,"{'Code': 'CLT', 'Name': 'Charlotte, NC: Charlo...","{'Label': '2003/06', 'Month': 6, 'Month Name':...","{'# of Delays': {'Carrier': 300, 'Late Aircraf..."

In [13]:
table = pa.Table.from_pandas(df)

In [14]:
table

pyarrow.Table
Airport: struct<Code: string, Name: string>
  child 0, Code: string
  child 1, Name: string
Time: struct<Label: string, Month: int64, Month Name: string, Year: int64>
  child 0, Label: string
  child 1, Month: int64
  child 2, Month Name: string
  child 3, Year: int64
Statistics: struct<# of Delays: struct<Carrier: int64, Late Aircraft: int64, National Aviation System: int64, Security: int64, Weather: int64>, Carriers: struct<Names: string, Total: int64>, Flights: struct<Cancelled: int64, Delayed: int64, Diverted: int64, On Time: int64, Total: int64>, Minutes Delayed: struct<Carrier: int64, Late Aircraft: int64, National Aviation System: int64, Security: int64, Total: int64, Weather: int64>>
  child 0, # of Delays: struct<Carrier: int64, Late Aircraft: int64, National Aviation System: int64, Security: int64, Weather: int64>
      child 0, Carrier: int64
      child 1, Late Aircraft: int64
      child 2, National Aviation System: int64
      child 3, Security: int64
      child 4, Weather: int64
  child 1, Carriers: struct<Names: string, Total: int64>
      child 0, Names: string
      child 1, Total: int64
  child 2, Flights: struct<Cancelled: int64, Delayed: int64, Diverted: int64, On Time: int64, Total: int64>
      child 0, Cancelled: int64
      child 1, Delayed: int64
      child 2, Diverted: int64
      child 3, On Time: int64
      child 4, Total: int64
  child 3, Minutes Delayed: struct<Carrier: int64, Late Aircraft: int64, National Aviation System: int64, Security: int64, Total: int64, Weather: int64>
      child 0, Carrier: int64
      child 1, Late Aircraft: int64
      child 2, National Aviation System: int64
      child 3, Security: int64
      child 4, Total: int64
      child 5, Weather: int64
----
Airport: [
  -- is_valid: all not null
  -- child 0 type: string
["ATL","BOS","CLT"]
  -- child 1 type: string
["Atlanta, GA: Hartsfield-Jackson Atlanta International","Boston, MA: Logan International","Charlotte, NC: Charlotte Douglas International"]]
Time: [
  -- is_valid: all not null
  -- child 0 type: string
["2003/06","2003/06","2003/06"]
  -- child 1 type: int64
[6,6,6]
  -- child 2 type: string
["June","June","June"]
  -- child 3 type: int64
[2003,2003,2003]]
Statistics: [
  -- is_valid: all not null
  -- child 0 type: struct<Carrier: int64, Late Aircraft: int64, National Aviation System: int64, Security: int64, Weather: int64>
    -- is_valid: all not null
    -- child 0 type: int64
[1009,374,300]
    -- child 1 type: int64
[1275,495,472]
    -- child 2 type: int64
[3217,685,735]
    -- child 3 type: int64
[17,3,2]
    -- child 4 type: int64
[328,66,54]
  -- child 1 type: struct<Names: string, Total: int64>
    -- is_valid: all not null
    -- child 0 type: string
["American Airlines Inc.,JetBlue Airways,Continental Air Lines Inc.,Delta Air Lines Inc.,Atlantic Southeast Airlines,AirTran Airways Corporation,America West Airlines Inc.,Northwest Airlines Inc.,ExpressJet Airlines Inc.,United Air Lines Inc.,US Airways Inc.","American Airlines Inc.,Alaska Airlines Inc.,Continental Air Lines Inc.,Atlantic Coast Airlines,Delta Air Lines Inc.,Atlantic Southeast Airlines,AirTran Airways Corporation,America West Airlines Inc.,American Eagle Airlines Inc.,Northwest Airlines Inc.,ExpressJet Airlines Inc.,ATA Airlines d/b/a ATA,United Air Lines Inc.,US Airways Inc.","American Airlines Inc.,Continental Air Lines Inc.,Atlantic Coast Airlines,Delta Air Lines Inc.,Atlantic Southeast Airlines,American Eagle Airlines Inc.,Northwest Airlines Inc.,ExpressJet Airlines Inc.,ATA Airlines d/b/a ATA,United Air Lines Inc.,US Airways Inc."]
    -- child 1 type: int64
[11,14,11]
  -- child 2 type: struct<Cancelled: int64, Delayed: int64, Diverted: int64, On Time: int64, Total: int64>
    -- is_valid: all not null
    -- child 0 type: int64
[216,138,73]
    -- child 1 type: int64
[5843,1623,1562]
    -- child 2 type: int64
[27,3,14]
    -- child 3 type: int64
[23974,7875,7021]
    -- child 4 type: int64
[30060,9639,8670]
  -- child 3 type: struct<Carrier: int64, Late Aircraft: int64, National Aviation System: int64, Security: int64, Total: int64, Weather: int64>
    -- is_valid: all not null
    -- child 0 type: int64
[61606,20319,14763]
    -- child 1 type: int64
[68335,28189,23379]
    -- child 2 type: int64
[118831,24400,23804]
    -- child 3 type: int64
[518,99,127]
    -- child 4 type: int64
[268764,77167,65865]
    -- child 5 type: int64
[19474,4160,3792]]